<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_duck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,71}</string>
                <key>spriteSourceSize</key>
                <string>{69,71}</string>
                <key>textureRect</key>
                <string>{{145,329},{69,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,92}</string>
                <key>spriteSourceSize</key>
                <string>{66,92}</string>
                <key>textureRect</key>
                <string>{{145,193},{66,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_hurt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,92}</string>
                <key>spriteSourceSize</key>
                <string>{69,92}</string>
                <key>textureRect</key>
                <string>{{1,389},{69,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_jump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,94}</string>
                <key>spriteSourceSize</key>
                <string>{67,94}</string>
                <key>textureRect</key>
                <string>{{142,400},{67,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,92}</string>
                <key>spriteSourceSize</key>
                <string>{66,92}</string>
                <key>textureRect</key>
                <string>{{145,261},{66,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_walk/p1_walk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{68,95}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{1,292},{68,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_walk/p1_walk02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{68,95}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{75,193},{68,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_walk/p1_walk03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{72,93}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{75,98},{72,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_walk/p1_walk04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{72,95}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_walk/p1_walk05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,95}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{1,98},{72,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_walk/p1_walk06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{72,95}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{75,1},{72,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_walk/p1_walk07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{72,95}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{1,195},{72,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_walk/p1_walk08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{68,93}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{149,98},{68,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_walk/p1_walk09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{68,93}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{75,290},{68,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_walk/p1_walk10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{149,1},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_walk/p1_walk11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{68,95}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{72,385},{68,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>p1.png</string>
            <key>size</key>
            <string>{238,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:826737a7ac17d34ee905b888d4055e33:b9f695f7346acbc30c61b28e28e4ddbb:4e86b569201c2f18aa986be5d044f5fb$</string>
            <key>textureFileName</key>
            <string>p1.png</string>
        </dict>
    </dict>
</plist>
